<h1 class="text-bg-primary p-3">My Lists</h1>

<div class="btn btn-outline-light mb-2"><%= link_to "Create new list", new_list_path %></div>

<div class="blockquote p-3">
  <% @lists.each do |list| %>
    <p><%= list.name %></p>
    <p class="btn btn-light"><%= link_to "Show this list", list %></p>
  <% end %>
</div>
